<div class="calc-body">

  <button (click)="onClick(7)" class="calc-button" value='7'>7</button>
  <button (click)="onClick(8)" class="calc-button" value='8'>8</button>
  <button (click)="onClick(9)" class="calc-button" value='9'>9</button>
  <button (click)="onClick('clear')" class="calc-button clear">ce</button>
  <button (click)="onClick(4)" class="calc-button" value='4'>4</button>
  <button (click)="onClick(5)" class="calc-button" value='5'>5</button>
  <button (click)="onClick(6)" class="calc-button" value='6'>6</button>
  <button (click)="onClick('percent')" class="calc-button">%</button>
  <button (click)="onClick(1)" class="calc-button" value='1'>1</button>
  <button (click)="onClick(2)" class="calc-button" value='2'>2</button>
  <button (click)="onClick(3)" class="calc-button" value='3'>3</button>
  <button (click)="onClick('sqrt')" class="calc-button">&#x0221A;</button>
  <button (click)="onClick('dot')" class="calc-button" [disabled]="isVisible('dot')">.</button>
  <button (click)=" onClick(0) " class="calc-button " value='0'>0</button>
  <button (click)="onClick( 'equal')" class="calc-button">=</button>
  <button (click)="onClick( 'power')" class="calc-button">^</button>
  <button (click)="onClick( 'plus')" class="calc-button" [disabled]="isVisible('plus')">+</button>
  <button (click)="onClick( 'minus')" class="calc-button" [disabled]="isVisible('minus')">-</button>
  <button (click)="onClick( 'multiply')" class="calc-button" [disabled]="isVisible('multiply')">*</button>
  <button (click)="onClick( 'divide')" class="calc-button" [disabled]="isVisible('divide')">/</button>
</div>