.calc-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calc-button {
  font-size: 1.5rem;
  width: 20%;
  height: 4rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: 2px solid white;
  &:active {
    background-color: lighten($color: #ccc, $amount: 0);
  }
  &:focus {
    outline: none;
  }
  &:not(:nth-child(4n)) {
    margin-right: 0.5rem;
  }
}
