@import '../../assets/colors';
@import url('https://fonts.googleapis.com/css?family=Audiowide');

.screen {
  background-color: $screenColor;
  width: 100%;
  border-radius: 3px;
  border: 1px solid gray;
  height: 6rem;
  padding: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.result {
  background-color: $screenColor;
  text-align: right;
  margin: 0;
  font-size: 2rem;
  font-family: 'Audiowide', cursive;
  margin-bottom: 1.5rem;
}

.equation {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  text-align: right;
}
